body.bg-clear {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-clouds {
  background-image: url('https://images.unsplash.com/photo-1502067553236-cd6cad847b00?ixlib=rb-4.1.0&auto=format&fit=crop&w=1600&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-rain {
  background-image: url('https://images.unsplash.com/photo-1527766833261-b09c3163a791?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-snow {
  background-image: url('https://images.unsplash.com/photo-1549887534-2a2b8c5a5c27?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-thunderstorm {
  background-image: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-haze {
  background-image: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}