body.bg-clear {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-clouds {
  background-image: url('https://images.unsplash.com/photo-1502067553236-cd6cad847b00?ixlib=rb-4.1.0&auto=format&fit=crop&w=1600&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-rain {
  background-image: url('https://freerangestock.com/sample/159141/urban-street-on-rainy-day.jpg');
  background-size: cover;
  background-position: center;
}

body.bg-snow {
  background-image: url('https://images.unsplash.com/photo-1549887534-2a2b8c5a5c27?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-thunderstorm {
  background-image: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-haze {
  background-image: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-sunny {
  background-image: url('https://images.unsplash.com/photo-1587279535322-b20697908487?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3NDE5ODJ8MHwxfHNlYXJjaHwyfHxzdW5ueSUyMHNreXxlbnwwfHx8fDE3NjMxMDE0NjR8MA&ixlib=rb-4.1.0&q=80&w=1080');
  background-size: cover;
  background-position: center;
}