body.bg-clear {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-clouds {
  background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-rain {
  background-image: url('https://images.unsplash.com/photo-1527766833261-b09c3163a791?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-snow {
  background-image: url('https://images.unsplash.com/photo-1549887534-2a2b8c5a5c27?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

body.bg-thunderstorm {
  background-image: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}